.home-page{

    .text-zone{
       display: grid;
        margin-left: 10%;
        margin-top: 19%;
    
        width: 30%;
        max-height: 90%;
        text-align: right;
    }

    span{
        color: rgb(65, 192, 255);
    }

    .links{
        display: grid;
        text-align: right;
margin-right: 60%;        
    }
    
 
    h1{
        color: rgb(81, 81, 81);
        font-size: 53px;
        margin: 0;
        font-family: 'sans-serif';
        font-weight: 400px;
        animation: fadeIn 1s 1.7s backwards;

        &::before{
         
            font-family: 'La Belle Aurore';
            color: rgb(81, 81, 81);
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity:0.6;
        }


        &::after{
          
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }  
    }
    h2 {
        color: rgb(81, 81, 81);
        margin-top: 20px;
        font-weight: 400;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 2.3s backwards;
    }
 

    .flat-button {
        color: rgb(81, 81, 81);
        letter-spacing: 3px;
        font-size: 13px;
        font-weight: 400;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        margin-top: 25px;
        float: left;
        animation: adeIn 1s 1.8s backwards;
        white-space: nowwrap;
    
    &:hover{
        -webkit-transition: all 1s ease;
        letter-spacing: 5px;
        
        }
      
    }
} 
